@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

a:link, a:visited {
    background-color: #f4fdff;
    color: black;
    /* border: 5px solid green; */
    padding: 10px 20px;
padding-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #3881bc;
    color: white;
}


html {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: black;
}

.headingTitle {
    font-size: 68px;
    margin: 0;
    padding: 0;
    color: black;
}

.bar {
    background-color: #f4fdff;
    position: fixed;
    top: 0;
    width: 100%;
}

.menuBar {
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.logo {
    margin-left: 100px;
}

.menuBar ul {
    list-style: none;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
}

.menuBar ul li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #fff;

}

.menuBar ul li a {
    font-size: 225%;
    color: black;
    text-decoration: none;
}

.navbar ul ul {
    position: absolute;
    top: 100%;
    display: none;
}

.navbar ul ul li {
    display: block;
}

.main {
    margin-top: 115px;
}

.headingTitle {
    font-size: 68px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
  }
  
.column {
    float: left;
    width: 50%;
    padding: 100px;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

.inside {
    width: 590px;
    display: block;
    margin-left: 125px;
    background-color: white;
    box-shadow: 0 25px 40px 0 rgba(0, 0, 0, 0.2), 0 100px 200px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}

.container {
    text-align: center;
    padding: 5px 10px;
    font-size: 150%;
}

.side {
    width: 590px;
    margin-right: 10px;
    /* margin-right: 200px; */
    background-color: white;
    box-shadow: 0 25px 40px 0 rgba(0, 0, 0, 0.2), 0 100px 200px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}

.main ul {
    list-style: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Style inputs and buttons */
  input[type=text], input[type=password], input[type=email], input[type=address], input[type=promise-id], button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Add padding to container elements */
  .modal-content {
    padding: 16px;
  }
  
  /* Hide login form by default */
  #patientRegister,
  #employeeLogin,
  #employeeRegister {
    display: none;
  }

  .titleHomePage {
    font-size: 250%;
  }

  .pup-homepage-random-hero {
    position: relative;
    width: 100%
}

.pup-homepage-random-hero img {
    margin-top: -12px;
    width: 100%
}

.pup-homepage-random-hero-wrapper {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%
}

.pup-homepage-random-hero-content {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    position: relative
}

.pup-homepage-random-hero-message {
    color: #fff;
    font-size: 28px;
    line-height: 40px;
    max-width: 400px;
    padding: 5px 12px;
    position: absolute;
    right: 33px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.pup-homepage-random-hero-message:after,.pup-homepage-random-hero-message:before {
    content: " ";
    height: 35px;
    position: absolute;
    width: 35px
}

.pup-homepage-random-hero-message:before {
    border-left: 3px solid var(--borderColor,transparent);
    border-top: 3px solid var(--borderColor,transparent);
    margin-left: -20px;
    margin-top: -12px
}

.pup-homepage-random-hero-message:after {
    border-bottom: 3px solid var(--borderColor,transparent);
    border-right: 3px solid var(--borderColor,transparent);
    bottom: -7px;
    right: -8px
}

@media only screen and (max-width: 991px) {
    .pup-homepage-random-hero {
        top:24px
    }

    .pup-homepage-random-hero-message {
        display: none
    }
}

@media only screen and (max-width: 769px) {
    .pup-homepage-random-hero {
        top:-1px
    }
}

.hero-img-shown.pup-hero-caption-light~.pup-homepage-random-hero-wrapper .pup-homepage-random-hero-message {
    background-color: hsla(0,0%,100%,.6);
    color: #1b1b1b
}

.hero-img-shown.pup-hero-caption-dark~.pup-homepage-random-hero-wrapper .pup-homepage-random-hero-message {
    background-color: rgba(0,0,0,.6)
}

@media screen and (max-width: 991px) {
    body.toolbar-fixed .pup-homepage-random-hero {
        top:-15px
    }
}

.homePara {
    font-size:150%;
    margin-right:250px;
    margin-left:250px;
    font-family: 'Playfair Display', serif;
}

.homeQuestion {
    color: #3881bc;
    font-size: 169%;
}
.footer {
    text-align: center;
    font-size: 235%;
    padding: 3px;
    background-color: #ff8830;
    color: white;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #171818;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




